/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}

.mainContainer {
    margin: auto;
    min-width: 375px;
}

.contentWrap {
    border-radius: 10px;
    overflow: hidden;
    margin: 45px 25px 25px 25px;
    min-width: 330px;
}

.content {
    padding: 45px;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
}

.title {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
}

.paragraph{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.6rem;
    margin-bottom: 30px;
}

.btn {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
    padding: 15px 30px;
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 30px;
    cursor: pointer;
}

.sedans .btn{
    color: hsl(31, 77%, 52%);
}

.suvs .btn {
    color: hsl(184, 100%, 22%);
}

.luxury .btn {
    color: hsl(179, 100%, 13%);
}

.attribution {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 920px) {
    .contentWrap {
        display: flex;
        margin-top: 170px;
        margin-left: auto;
        margin-right: auto;
        max-width: 920px;
    }

    .paragraph {
        margin-bottom: 70px;
    }
}