body{
    margin: 0px;
    padding: 0px;
}

h1{
    margin: 0px;
    padding-top: 30px;
    font-family: 'Bungee Shade', cursive;
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;

}

.subTitle{
    font-family: 'Bungee Hairline', cursive;
    font-size: 22px;
    text-align: center;
    line-height: 22px;
}

header{
    height: 25vh;
    background-color: #C9D6FF;
}
main{
    height: 75vh;
    background: #C9D6FF;
    background: -webkit-linear-gradient(to top, #E2E2E2, #C9D6FF);
    background: linear-gradient(to top, #E2E2E2, #C9D6FF);
}

#taskform{
    text-align: center;
    padding: 30px 10px;
}

#taskentry{
    font-family: 'Space Mono', monospace;
    background-color:whitesmoke;
    text-align: center;
    width: 100%;
    font-size: 28px;
    height: 50px;
    border: none;
    border-radius: 10px;
}

.btncontainer{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#addtask {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(39, 39, 39);
    background-color: rgb(103, 103, 150);
    color: white;
}

#addtask:active {
    position: relative;
    top: 2px;
    left: 2px;
    box-shadow: 0px 0px rgb(39, 39, 39);
}


#deltask {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(39, 39, 39);
    background-color: rgb(71, 71, 104);
    color: white;
}

#deltask:active {
    position: relative;
    top: 2px;
    left: 2px;
    box-shadow: 0px 0px rgb(39, 39, 39);
}

#cleartask {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(39, 39, 39);
    background-color: red;
    color: white;
}

#cleartask:active {
    position: relative;
    top: 2px;
    left: 2px;
    box-shadow: 0px 0px rgb(39, 39, 39);
}

.listTitle{
    font-family: 'Bungee Hairline', cursive;
    font-size: 30px;
    margin: 0px;
    border-top: dashed 1px black;
    padding: 20px 0px;
    font-weight: 700;
    text-align: center;
    line-height: 22px;
}

#list-container{
    margin: 0px;
    padding: 0px;
}

#taskList{
    font-family: 'Space Mono', monospace;
    text-transform: capitalize;
    font-size: 20px;
    list-style-type: none;
    margin: 0px;
    padding: 5px;

}

.taskline {
    position: relative;
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: whitesmoke;
    color:black;
}